@inherits LayoutComponentBase

<HeadContent>
    <link rel="manifest" href="site.webmanifest.json" />
    <meta name="theme-color" content="#ef4444" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
</HeadContent>

<div class="flex min-h-screen flex-col bg-bgDark">
    <NavMenu />

    <main class="flex-grow w-full mx-auto max-w-5xl px-4 sm:px-6 xl:px-0">
        @Body
    </main>

    <footer class="mt-16 border-t border-borderDark bg-bgDark">
        <div class="mx-auto flex max-w-5xl flex-col items-center py-8">
            <div class="flex space-x-6 mb-4">
                <a class="text-gray-500 hover:text-red-500 transition-colors" target="_blank" rel="noopener noreferrer"
                    href="@WebsiteKeys.GitHubRepo">
                    <span class="sr-only">github</span>
                    <Svg Icon="Svg.Icons.Github" SizeClasses="w-6 h-6" />
                </a>
            </div>
            <div class="flex flex-col items-center space-y-1 text-sm text-gray-500 font-mono">
                <div>© @DateTime.Now.Year <a class="hover:text-red-500 transition-colors"
                        href="@WebsiteKeys.AuthorGitHub" target="_blank">WhiteLicorice</a> </div>
                <a href="https://github.com/BlazorStatic/BlazorStatic" class="hover:text-red-500 transition-colors"
                    target="_blank">Powered by
                    BlazorStatic</a>
            </div>
        </div>
    </footer>
</div>

@* For service worker PWA *@
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('js/service-worker.js')
                .then(registration => {
                    console.log('PWA ServiceWorker registered: ', registration.scope);
                })
                .catch(error => {
                    console.log('PWA ServiceWorker registration failed: ', error);
                });
        });
    }
</script>